<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="#">
        <i class="fas fa-brain"></i>
        SMART CLASS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/apuntes">Mis Apuntes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nuevoapunte">Nuevo Apunte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cursos">Mis Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<div class="container text-center text-light">
    <h1>APUNTES</h1>
</div>
<div class="container text-center">
    <h3 class="text-light" *ngIf="msg.response; else showtable">{{msg.response}}</h3>
</div>
<ng-template #showtable>
    <table class="table bg-light table-striped mt-4 mb-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Contenido</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of dataN.response">
                <td>{{note.pos}}</td>
                <td>{{note.titulo}}</td>
                <td>
                    <pre class="text-left">{{note.contenido}}</pre>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteN('{{note.contenido}}')">
                        <i class="fas fa-eraser"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>