<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="#">
        <i class="fas fa-brain"></i>
        SMART CLASS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/apuntes">Mis Apuntes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/nuevoapunte">Nuevo Apunte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cursos">Mis Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div class="container text-center text-light">
    <div class="col-4">
        <h2>NUEVO APUNTE</h2>
    </div>
    <br>
    <div class="container">
        <form #frmRegister="ngForm" (ngSubmit)="saveNote(frmRegister)">
            <div class="form-group">
                <input name = "titulo" placeholder="TITULO" type="text" ngModel class="form-control" autofocus required>
            </div>
            <div class="form-group">
                <textarea placeholder="Escriba acá el apunte..." class="form-control" id="textarea" name="contenido" rows="14" ngModel></textarea>
            </div>
            <div class="col-3">
                <button class="btn btn-success btn-block" type="submit">
                    <i class="far fa-save"></i>
                    GUARDAR
                </button>
            </div>
        </form>
        <br>
        <div *ngIf="msg.response">
            <div class="alert alert-success col-3" role="alert">
                {{msg.response}}
              </div>
        </div>
    </div>
</div>